.listcontainer {
  background-color: #252c33;
  color: var(--pgo-500, #d3af37);
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  // display: flex;
  padding: 1rem;
  justify-content: center;
  align-content: center;
  color: red;

  .buttonplace {
    display: flex;
    justify-content: center;
  }

  .listcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    border-radius: 17rem;
  }

  .form_button {
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    margin: 1.5rem;
    color: #d3af37;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: darken(#252c33, 10%);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(9, 255, 0, 0.5);
    }
  }
}
